<h1>Welcome to the show page...for a gram</h1>
<!-- following Nomster lesson 22 -->

<div>
	<p> trying to show the picture </p>
  <p> <%= image_tag @gram.picture, :class => "show-edit-width" %></p>
  <h1><%= @gram.message %></h1>
 
  <div class="pull-right">
    <%= link_to 'Edit', edit_gram_path(@gram), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', gram_path(@gram), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
  </div>
</div>
<div class="clear"></div>

<div>
<h1>Comments</h1>

<% @gram.comments.each do |comment| %>
  <div>
    <blockquote>
        <%= comment.message %>
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>
</div>
<div class="clear"></div>
<div>
	<%= simple_form_for @comment, url: gram_comments_path(@gram) do |f| %>
	  <%= f.input :message %>
	  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
	<% end %>
</div>